.contenedorMayor{
    border: 2px solid black;
    padding: 10px;
    width: 250px;
    text-align: center;
    background-color: red
    
}

.titulo{

    border-radius: 100px;
    background-color: rgb(172, 234, 65);
    width: 200px;
    margin: auto;
    margin-top: 30px
      
}




.detalles{
    margin-top: -22px;
    border: 1px solid black;
    background-color:  rgb(172, 234, 65);
}