.contenedorMayor{

    border: 2px solid black;
    border-radius: 15%;
    margin: auto;
    padding: 10px;
    width: 400px;
    text-align: center;
    background-color: rgb(126, 118, 118)
    
}

.imagen{

    width: auto;
}

.coloresNombres{

    border-radius: 200px;
    background-color: rgb(172, 234, 65);
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
       
}


.detallesTexto{

    margin-top: 20px;
    width: 200px;
    margin: auto;
    border: 1px solid black;
    background-color:  rgb(172, 234, 65);
    font-size: 20px;
    
}

.botones{

    margin: 50px;
    text-align: center;
}